:root{
    --main-color:rgb(36, 36, 46);
    --accent-color:rgb(72, 72, 91);
}
.container{
    font-family:Verdana, sans-serif;
    color:aliceblue;
    background-color:var(--main-color);
}

.column{
    float:left;
    text-align:center;
}

.left{
    width:225px;
    height:750px;
    background-color:rgb(54, 54, 69);
}
.right{
    width:250px;
}

.center{
    width:500px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

.label{
    height:10%;
    width:100%;

    background-color:var(--accent-color);

    font-weight:bold;
}

.hoverInfo{
    display:none;
}

.button{

}

#player{
    margin:10px;
    height:45%;
    width:90%;
}

#effectsContainer{
    margin:10px;
    height:45%;
    width:90%;
}

#effect{
    margin:10px;
    height:10%;
    width:90%;

    background-color:var(--accent-color);
}

#effect:hover .hoverInfo{
    height:50px;
    width:200px;
    position:relative;
    top:-20px;
    left:190px;
    background-color:var(--main-color);
    border-color:var(--accent-color);
    border-style:solid;
    display:block;
}